body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
}
#caixa{
    margin: auto;
    display: flex;
    background-color: aliceblue;
    justify-content: center;
    text-align: center;
    height: 400px;
    width: 260px;
    display: block;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 1px;
    flex-direction: column;

    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
}
.titulo{
 color: black;
 text-align: start;
 padding-inline-start: 5px;
}

.inputs{
    text-align: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
}
button{
    width: 200px;
    background-color: blueviolet;
    color: aliceblue;
}




